#!/bin/sh
if [ "$2" != "POST-INSTALL" ]; then exit 0; fi
echo "################################################################"
echo "You must install one of packages, xemacs-mule and "
echo " ja-xemacs-*-%%XEMACS_REL%% (ja-xemacs-%%XEMACS_REL%%, ja-xemacs-canna-%%XEMACS_REL%%, etc.)"
echo ", each of which contains only the executables for XEmacs(version %%XEMACS_VER%%)"
echo "################################################################"
